@{
    string groupNumber = 41.ToString();
    string year = DateTime.Now.Year.ToString();
}

<div class="container py-3 my-4">
    <div class="d-flex flex-wrap justify-content-between align-items-center">
        <p class=" text-body-secondary">Max Tran | 101490785 | CRN: 50259</p>
        <p class=" text-body-secondary">Arkadii Akopian | 101513972 | CRN: 50259</p>
    </div>
    
    <p class="text-center text-body-secondary nav justify-content-center border-top py-3">© @year Group @groupNumber, Inc</p>
</div>
