@{
    Layout = "_Layout";
}


<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 text-center">
            <h2>:(</h2>
            <h3>@ViewBag.Title</h3>
            <p>The server was unable to complete your request. Please try again later.</p>
            <p>If this problem persists, please <a href="https://example.com/support" class="link-primary">contact support</a>.</p>
            <a href="@Url.Action("Index", "Home")" class="btn btn-primary mt-3">Go Back to Home Page</a>
        </div>
    </div>
</div>